<!--Sat Jul 14 20:10:45 CEST 2018-->
<!--Generisano na osnovu sablona: show.ftl-->
<!--Element modela: StopaPDVa-->

#{extends 'standardForm.html' /}
#{set title:'Stopa PDVa' /}

<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<script>
	function sync(item){
		if ("${session.mode}" == "edit"){
			datumKreiranja = item.find(".datumKreiranja").html()  		    	
			procenatPDVa = item.find(".procenatPDVa").html()  		    	
			vrstaPDVa = item.find(".vrstaPDVa").html()  		    	
	    	id = item.find(".id").html()   	
	    	$("#stopaPDVa_datumKreiranja").val(datumKreiranja);	 
	    	$("#stopaPDVa_procenatPDVa").val(procenatPDVa);	 
	    	$("#stopaPDVa_id").val(id);
	    	
	    	var options0 = document.getElementById("vrstaPDVa").children;
			for (i = 0; i < options0.length; i++) { 
    			if(options0[i].label == vrstaPDVa){
    				document.getElementById("vrstaPDVa").selectedIndex = i;
    				break;
    			}
			}
			
    	}
	}
	
	function remove(id){
		if (id == null){
			alert("Oznacite red u tabeli!");
		} else {
			var r  = confirm("Da li zelite da obrisete slog?");
			if(r == true) {
	    		$(location).attr('href', '/StopePDVa/delete?id='+id);
			}else{
				txt = "You pressed Cancel"
			}
		}
	}
	
	$(function(){
		$( "#stopaPDVa_datumKreiranja" ).datepicker();
	});
</script>

<div class="container-fluid">
	<div class="row">
		<div class="icon-bar">
		
			<a href="#" onclick="openSideNav()">
				<img width="16px" height="16px" src="@{'/public/images/menu_icon.png'}" />
			</a>
			
			<a href="@{StopePDVa.show("edit")}" id = "refresh">
				<img src="@{'/public/images/refresh.gif'}"/>
			</a>
			
			<a id = "first">
				<img src="@{'/public/images/first.gif'}"/>
			</a>
			<a id = "prev">
				<img src="@{'/public/images/prev.gif'}"/>
			</a>
			<a id = "next">
				<img src="@{'/public/images/next.gif'}"/>
			</a>
			<a id = "last">
				<img src="@{'/public/images/last.gif'}"/>
			</a>
			
			<a href="@{StopePDVa.show("add")}" id = "add">
				<img src="@{'/public/images/add.gif'}"/>
			</a>
			
			<a href="#" id = "remove">
				<img src="@{'/public/images/remove.gif'}"/>
			</a>
			
		</div>
			
		<div class="container-fluid">
			<h1>Stopa PDVa</h1>
			<table>
				<tr class = "header">
	   				<th>Datum kreiranja</th>
	   				<th>Procenat PDVa</th>
	   				
	   				<th>Vrsta PDVa</th>
				</tr>
				
				#{list items:stopePDVa, as:'stopaPDVa'}
				<tr #{if stopaPDVa.id == idd} class = "highlighted" #{/if} class="tableRow">
					<td class = "datumKreiranja">${stopaPDVa.datumKreiranja}</td>
					<td class = "procenatPDVa">${stopaPDVa.procenatPDVa}</td>
					<td class = "vrstaPDVa">${stopaPDVa.vrstaPDVa.nazivVrstePDVa}</td>
					<td style = "visibility: hidden; max-width: 0px" class = "id">${stopaPDVa.id}</td>
				</tr>				
				#{/list}
			</table>
			
			#{set 'action'}
			#{if mode == 'add'}
    			@{StopePDVa.create()}
			#{/if}
			#{else mode == 'edit'}
   				@{StopePDVa.edit()}
			#{/else}
    		#{/set}
    	
			<div class="panel">
				<form action=${action} method="post">
					<p>
						#{field 'stopaPDVa.id'}
							<input type = "hidden" name = "${field.name}" id = "${field.id}" value="${session.idVPDVa}"/>
						#{/}
					</p>
					
					<p>
						#{field 'stopaPDVa.datumKreiranja'}
							<label for = "${field.id}">Datum kreiranja</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" maxlength="40" size="40"/>
						#{/}
					</p>
					<p>
						#{field 'stopaPDVa.procenatPDVa'}
							<label for = "${field.id}">Procenat PDVa</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" maxlength="40" size="40"/>
						#{/}
					</p>
					
					<p>
						#{field 'vrstaPDVa'} <label for="${field.id}">Vrsta PDVa</label>
						&nbsp &nbsp &nbsp <select name="${field.name}" id="${field.id}">
							#{list items:vrstePDVa, as:'vrstaPDVa'}
							<option value="${vrstaPDVa.id}">${vrstaPDVa.nazivVrstePDVa}</option>
							#{/list}
						</select>
						
						#{/}
					</p>
					
					<div id = "formActions">
						<input type = "submit" value = "Potvrdi" style="margin-left:6em" class="btn btn-success"/>
						<a href = "@{StopePDVa.show("edit")}" style="margin-left:1em">
							<button type="button" class="btn btn-danger">Otkazi</button>
						</a>
					</div>				
				</form>
			</div>
		</div>
	</div>
</div>

<p class="status_line">Trenutni režim: ${session.mode}</p>

<button onclick="topFunction()" id="myBtn" title="Idi na vrh">
	<img src="@{'/public/images/back_top.png'}" alt=""
		class="rounded-circle" width="40" height="40">
</button>
