#{extends 'standardForm.html' /}
#{set title:'Podgrupa' /}

<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<script>
	function sync(item){
		if ("${session.mode}" == "edit"){
			nazivPodgrupe = item.find(".nazivPodgrupe").html()  		    	
			grupa = item.find(".grupa").html()  		    	
	    	id = item.find(".id").html()   	
	    	$("#podgrupa_nazivPodgrupe").val(nazivPodgrupe);	 
	    	$("#podgrupa_id").val(id);
	    	
	    	var options0 = document.getElementById("grupa").children;
			for (i = 0; i < options0.length; i++) { 
    			if(options0[i].label == grupa){
    				document.getElementById("grupa").selectedIndex = i;
    				break;
    			}
			}
			
    	}
	}
	
	function remove(id){
		if (id == null){
			alert("Oznacite red u tabeli!");
		} else {
			var r  = confirm("Da li zelite da obrisete slog?");
			if(r == true) {
	    		$(location).attr('href', '/Podgrupe/delete?id='+id);
			}else{
				txt = "You pressed Cancel"
			}
		}
	}
</script>

<div class="container-fluid">
	<div class="row">
		<div class="icon-bar">
		
			<a href="#" onclick="openSideNav()">
				<img width="16px" height="16px" src="@{'/public/images/menu_icon.png'}" />
			</a>
			
			<a href="@{Podgrupe.show("edit")}" id = "refresh">
				<img src="@{'/public/images/refresh.gif'}"/>
			</a>
			
			<a id = "first">
				<img src="@{'/public/images/first.gif'}"/>
			</a>
			<a id = "prev">
				<img src="@{'/public/images/prev.gif'}"/>
			</a>
			<a id = "next">
				<img src="@{'/public/images/next.gif'}"/>
			</a>
			<a id = "last">
				<img src="@{'/public/images/last.gif'}"/>
			</a>
			
			<a href="@{Podgrupe.show("add")}" id = "add">
				<img src="@{'/public/images/add.gif'}"/>
			</a>
			
			<a href="#" id = "remove">
				<img src="@{'/public/images/remove.gif'}"/>
			</a>
			
		</div>
			
		<div class="container-fluid">
			<h1>Podgrupe</h1>
			<table>
				<tr class = "header">
	   				<th>Naziv podgrupe</th>
	   				<th>Grupa</th>
				</tr>
				
				#{list items:podgrupe, as:'podgrupa'}
				<tr #{if podgrupa.id == idd} class = "highlighted" #{/if} class="tableRow">
					<td class = "nazivPodgrupe">${podgrupa.nazivPodgrupe}</td>
					<td class = "grupa">${podgrupa.grupa}</td>
					<td style = "visibility: hidden; max-width: 0px" class = "id">${podgrupa.id}</td>
				</tr>				
				#{/list}
			</table>
			
			#{set 'action'}
			#{if mode == 'add'}
    			@{Podgrupe.create()}
			#{/if}
			#{else mode == 'edit'}
   				@{Podgrupe.edit()}
			#{/else}
    		#{/set}
    	
			<div class="panel">
				<form action=${action} method="post">
					<p>
						#{field 'podgrupa.id'}
							<input type = "hidden" name = "${field.name}" id = "${field.id}" value="${session.idVPDVa}"/>
						#{/}
					</p>
					
					<p>
						#{field 'podgrupa.nazivPodgrupe'}
							<label for = "${field.id}">Naziv podgrupe</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" maxlength="40" size="40"/>
						#{/}
					</p>
					
					<p>
						#{field 'grupa'} <label for="${field.id}">Grupa</label>
						&nbsp &nbsp &nbsp <select name="${field.name}" id="${field.id}">
							#{list items:grupe, as:'grupa'}
							<option value="${grupa.id}">${grupa.nazivGrupe}</option>
							#{/list}
						</select>
						
						#{/}
					</p>
					
					<div id = "formActions">
						<input type = "submit" value = "Potvrdi" style="margin-left:6em" class="btn btn-success"/>
						<a href = "@{Podgrupe.show("edit")}" style="margin-left:1em">
							<button type="button" class="btn btn-danger">Otkazi</button>
						</a>
					</div>				
				</form>
			</div>
		</div>
	</div>
</div>

<p class="status_line">Trenutni režim: ${session.mode}</p>

<button onclick="topFunction()" id="myBtn" title="Idi na vrh">
	<img src="@{'/public/images/back_top.png'}" alt=""
		class="rounded-circle" width="40" height="40">
</button>
