#{extends 'standardForm.html' /}
#{set title:'Preduzece' /}

<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<script>
	function sync(item){
		if ("${session.mode}" == "edit"){
			naziv = item.find(".naziv").html()  		    	
			pib = item.find(".pib").html()  		    	
			mesto = item.find(".mesto").html()  		    	
			adresa = item.find(".adresa").html()  		    	
			telefon = item.find(".telefon").html()  		    	
			maticniBroj = item.find(".maticniBroj").html()  		    	
			tekuciRacun = item.find(".tekuciRacun").html()  		    	
	    	id = item.find(".id").html()   	
	    	$("#preduzece_naziv").val(naziv);	 
	    	$("#preduzece_pib").val(pib);	 
	    	$("#preduzece_mesto").val(mesto);	 
	    	$("#preduzece_adresa").val(adresa);	 
	    	$("#preduzece_telefon").val(telefon);	 
	    	$("#preduzece_maticniBroj").val(maticniBroj);	 
	    	$("#preduzece_tekuciRacun").val(tekuciRacun);	 
	    	$("#preduzece_id").val(id);
	    	
    	}
	}
	
	function remove(id){
		if (id == null){
			alert("Oznacite red u tabeli!");
		} else {
			var r  = confirm("Da li zelite da obrisete slog?");
			if(r == true) {
	    		$(location).attr('href', '/Preduzeca/delete?id='+id);
			}else{
				txt = "You pressed Cancel"
			}
		}
	}
</script>

<div class="container-fluid">
	<div class="row">
		<div class="icon-bar">
			<a href="#" onclick="openSideNav()">
				<img width="16px" height="16px" src="@{'/public/images/menu_icon.png'}" />
			</a>
			<a id = "first">
				<img src="@{'/public/images/first.gif'}"/>
			</a>
			<a id = "prev">
				<img src="@{'/public/images/prev.gif'}"/>
			</a>
			<a id = "next">
				<img src="@{'/public/images/next.gif'}"/>
			</a>
			<a id = "last">
				<img src="@{'/public/images/last.gif'}"/>
			</a>
			<a href="@{Preduzeca.show("add")}" id = "add">
				<img src="@{'/public/images/add.gif'}"/>
			</a>
			<a href="#" id = "remove">
				<img src="@{'/public/images/remove.gif'}"/>
			</a>
		</div>
			
		<div class="container-fluid">
			<h1>Preduzeca</h1>
			<table>
				<tr class = "header">
	   				<th>Naziv</th>
	   				<th>PIB preduzeca</th>
	   				<th>Mesto</th>
	   				<th>Adresa</th>
	   				<th>Telefon</th>
	   				<th>Maticni broj</th>
	   				<th>Tekuci racun</th>
				</tr>
				
				#{list items:preduzeca, as:'preduzece'}
				<tr #{if preduzece.id == idd} class = "highlighted" #{/if} class="tableRow">
					<td class = "naziv">${preduzece.naziv}</td>
					<td class = "pib">${preduzece.pib}</td>
					<td class = "mesto">${preduzece.mesto}</td>
					<td class = "adresa">${preduzece.adresa}</td>
					<td class = "telefon">${preduzece.telefon}</td>
					<td class = "maticniBroj">${preduzece.maticniBroj}</td>
					<td class = "tekuciRacun">${preduzece.tekuciRacun}</td>
					<td style = "visibility: hidden; max-width: 0px" class = "id">${preduzece.id}</td>
				</tr>				
				#{/list}
			</table>
			
			#{set 'action'}
			#{if mode == 'add'}
    			@{Preduzeca.create()}
			#{/if}
			#{else mode == 'edit'}
   				@{Preduzeca.edit()}
			#{/else}
    		#{/set}
    	
			<div class="panel">
				<form action=${action} method="post">
					<p>
						#{field 'preduzece.id'}
							<input type = "hidden" name = "${field.name}" id = "${field.id}" value="${session.idVPDVa}"/>
						#{/}
					</p>
					
					<p>
						#{field 'preduzece.naziv'}
							<label for = "${field.id}">Naziv</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" maxlength="40" size="40"/>
						#{/}
					</p>
					<p>
						#{field 'preduzece.pib'}
							<label for = "${field.id}">PIB preduzeca</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" maxlength="40" size="40"/>
						#{/}
					</p>
					<p>
						#{field 'preduzece.mesto'}
							<label for = "${field.id}">Mesto</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" maxlength="40" size="40"/>
						#{/}
					</p>
					<p>
						#{field 'preduzece.adresa'}
							<label for = "${field.id}">Adresa</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" maxlength="40" size="40"/>
						#{/}
					</p>
					<p>
						#{field 'preduzece.telefon'}
							<label for = "${field.id}">Telefon</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" maxlength="40" size="40"/>
						#{/}
					</p>
					<p>
						#{field 'preduzece.maticniBroj'}
							<label for = "${field.id}">Maticni broj</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" maxlength="40" size="40"/>
						#{/}
					</p>
					<p>
						#{field 'preduzece.tekuciRacun'}
							<label for = "${field.id}">Tekuci racun</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" maxlength="40" size="40"/>
						#{/}
					</p>
					
					
					<div id = "formActions">
						<input type = "submit" value = "Potvrdi" style="margin-left:6em" class="btn btn-success"/>
						<a href = "@{Preduzeca.show("edit")}" style="margin-left:1em">
							<button type="button" class="btn btn-danger">Otkazi</button>
						</a>
					</div>				
				</form>
			</div>
		</div>
	</div>
</div>

<p class="status_line">Trenutni režim: ${session.mode}</p>

<button onclick="topFunction()" id="myBtn" title="Idi na vrh">
	<img src="@{'/public/images/back_top.png'}" alt=""
		class="rounded-circle" width="40" height="40">
</button>
