<!--Sat Jul 14 19:05:06 CEST 2018-->
<!--Generisano na osnovu sablona: show.ftl-->
<!--Element modela: StavkaCenovnika-->

#{extends 'standardForm.html' /}
#{set title:'Stavka cenovnika' /}

<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<script>
	function sync(item){
		if ("${session.mode}" == "edit"){
			cena = item.find(".cena").html()  		    	
			artikal = item.find(".artikal").html()  		    	
			cenovnik = item.find(".cenovnik").html()  		    	
	    	id = item.find(".id").html()   	
	    	$("#stavkaCenovnika_cena").val(cena);	 
	    	$("#stavkaCenovnika_id").val(id);
	    	
	    	var options0 = document.getElementById("artikal").children;
			for (i = 0; i < options0.length; i++) { 
    			if(options0[i].label == artikal){
    				document.getElementById("artikal").selectedIndex = i;
    				break;
    			}
			}
			
	    	var options1 = document.getElementById("cenovnik").children;
			for (i = 0; i < options1.length; i++) { 
    			if(options1[i].label == cenovnik){
    				document.getElementById("cenovnik").selectedIndex = i;
    				break;
    			}
			}
			
    	}
	}
	
	function remove(id){
		if (id == null){
			alert("Oznacite red u tabeli!");
		} else {
			var r  = confirm("Da li zelite da obrisete slog?");
			if(r == true) {
	    		$(location).attr('href', '/StavkeCenovnika/delete?id='+id);
			}else{
				txt = "You pressed Cancel"
			}
		}
	}
	
</script>

<div class="container-fluid">
	<div class="row">
		<div class="icon-bar">
		
			<a href="#" onclick="openSideNav()">
				<img width="16px" height="16px" src="@{'/public/images/menu_icon.png'}" />
			</a>
			
			<a href="@{StavkeCenovnika.show("edit")}" id = "refresh">
				<img src="@{'/public/images/refresh.gif'}"/>
			</a>
			
			<a id = "first">
				<img src="@{'/public/images/first.gif'}"/>
			</a>
			<a id = "prev">
				<img src="@{'/public/images/prev.gif'}"/>
			</a>
			<a id = "next">
				<img src="@{'/public/images/next.gif'}"/>
			</a>
			<a id = "last">
				<img src="@{'/public/images/last.gif'}"/>
			</a>
			
			<a href="@{StavkeCenovnika.show("add")}" id = "add">
				<img src="@{'/public/images/add.gif'}"/>
			</a>
			
			<a href="#" id = "remove">
				<img src="@{'/public/images/remove.gif'}"/>
			</a>
			
		</div>
			
		<div class="container-fluid">
			<h1>Stavka cenovnika</h1>
			<table>
				<tr class = "header">
	   				<th>Cena stavke cenovika</th>
	   				
	   				<th>Artikal</th>
	   				<th>Cenovnik</th>
				</tr>
				
				#{list items:stavkeCenovnika, as:'stavkaCenovnika'}
				<tr #{if stavkaCenovnika.id == idd} class = "highlighted" #{/if} class="tableRow">
					<td class = "cena">${stavkaCenovnika.cena}</td>
					<td class = "artikal">${stavkaCenovnika.artikal.nazivStavkeKataloga}</td>
					<td class = "cenovnik">${stavkaCenovnika.cenovnik.naziv}</td>
					<td style = "visibility: hidden; max-width: 0px" class = "id">${stavkaCenovnika.id}</td>
				</tr>				
				#{/list}
			</table>
			
			#{set 'action'}
			#{if mode == 'add'}
    			@{StavkeCenovnika.create()}
			#{/if}
			#{else mode == 'edit'}
   				@{StavkeCenovnika.edit()}
			#{/else}
    		#{/set}
    	
			<div class="panel">
				<form action=${action} method="post">
					<p>
						#{field 'stavkaCenovnika.id'}
							<input type = "hidden" name = "${field.name}" id = "${field.id}" value="${session.idVPDVa}"/>
						#{/}
					</p>
					
					<p>
						#{field 'stavkaCenovnika.cena'}
							<label for = "${field.id}">Cena stavke cenovika</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" maxlength="40" size="40"/>
						#{/}
					</p>
					
					<p>
						#{field 'artikal'} <label for="${field.id}">Artikal</label>
						&nbsp &nbsp &nbsp <select name="${field.name}" id="${field.id}">
							#{list items:artikli, as:'artikal'}
							<option value="${artikal.id}">${artikal.nazivStavkeKataloga}</option>
							#{/list}
						</select>
						
						#{/}
					</p>
					<p>
						#{field 'cenovnik'} <label for="${field.id}">Cenovnik</label>
						&nbsp &nbsp &nbsp <select name="${field.name}" id="${field.id}">
							#{list items:cenovnici, as:'cenovnik'}
							<option value="${cenovnik.id}">${cenovnik.naziv}</option>
							#{/list}
						</select>
						
						#{/}
					</p>
					
					<div id = "formActions">
						<input type = "submit" value = "Potvrdi" style="margin-left:6em" class="btn btn-success"/>
						<a href = "@{StavkeCenovnika.show("edit")}" style="margin-left:1em">
							<button type="button" class="btn btn-danger">Otkazi</button>
						</a>
					</div>				
				</form>
			</div>
		</div>
	</div>
</div>

<p class="status_line">Trenutni režim: ${session.mode}</p>

<button onclick="topFunction()" id="myBtn" title="Idi na vrh">
	<img src="@{'/public/images/back_top.png'}" alt=""
		class="rounded-circle" width="40" height="40">
</button>
